<h1>PEmbed</h1>

<h2>Why is it called PEmbed</h2>
<p>Just as 'b' comes after 'a', 'p'embed comes after 'o'embed</p>
<p>Also, I'm uncreative and just wanted a quick name to test out some new obembed ideas.</p>

<h2>Objective</h2>
<p>To dynamically turn a link to a <a href="https://gist.github.com/">gist</a> into an embedded gist.</p>

<h2>Strategies</h2>
<h3><a href="/iframe">iframe</a></h3>
<h4>Cons</h4>
<ul>
  <li>A fixed height. No matter how much content a gist has, I have yet to find a good way to dynamically resize the iframe.</li>
</ul>


<h3><a href="/jsonp">JSONP</a></h3>
<h4>Pros</h4>
<ul>
  <li>Fluid height. The embed adheres to the height of the gist.</li>
</ul>

<h4>Cons</h4>
<ul>
  <li>Seems to be altering the style of the page when the gist embed stylesheet is loaded</li>
</ul>
